.mibreit-imageElement {
  position: absolute;
  padding: 0px;
  overflow: hidden;
  z-index: 10;
}

.mibreit-imageElement img {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.mibreit-imageElement h3 {
  margin-left: -4000px;
}
