/* Slideshow styles */
.mibreit-slideshow {
    position: relative;
    left: 0px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 680px;
    overflow: hidden;
}

.mibreit-slideshow-next {
    position: absolute;
    z-index: 100;
    background-image: url("../images/next-image.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 50px;
    right: 5px;
    top: 45%;
    opacity: 0.0;
}

.mibreit-slideshow-previous {
    position: absolute;
    z-index: 100;
    background-image: url("../images/previous-image.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 50px;
    left: 5px;
    top: 45%;
    opacity: 0.0;
}

/* Title Styles */

.mibreit-slideshow-title {
    position: relative;
    margin: auto;
    width: 720px;
    text-align: center;
}

/* Thumbview styles */

.mibreit-thumbview {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0.5rem;
    width: 720px;
    height: 100px;
}

.mibreit-thumbview-previous {
    position: absolute;
    left: 2px;
    bottom: 40%;
    width: 30px;
    height: 30px;
    background-image: url("../images/previous.png");
    background-repeat: no-repeat;
    background-position: center;
}

.mibreit-thumbview-next {
    position: absolute;
    right: 2px;
    bottom: 40%;
    width: 30px;
    height: 30px;
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
    background-position: center;
}

.mibreit-thumbs {
    position: relative;
    left: 32px;
    width: 660px;
    overflow: hidden;
}

.mibreit-thumbs-scroller {
    position: relative;
    display: flex;
    flex-direction: row;
}

/* special styles */

.mibreit-slideshow-highlight {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0;
    pointer-events: none;
}

.mibreit-fullscreen {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000cc;
    z-index: 20;
}